@import url("https://rsms.me/inter/inter.css");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

/* VARIABLES */
/* ANIMATIONS */
@-webkit-keyframes fadein {
  0% {
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes fadein {
  0% {
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes fill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* BACICS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #efeff0;
  font-size: 0.625rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-feature-settings: "salt";
          font-feature-settings: "salt";
  background-color: #131315;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h2 span {
  opacity: 0.5;
  margin-right: 0.625rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 700;
}

a {
  color: #efeff0;
  text-decoration: none;
}

/* STRUCTURE */
#app {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
}

#app #sidebar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
  color: #efeff0;
  min-width: 24.75rem;
}

#app #sidebar img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

#app #sidebar h1 span {
  background-color: #efeff0;
  border-radius: 0.375rem;
  color: #131315;
  padding: 0 0.625rem;
}

#app #sidebar p {
  font-size: 1.6rem;
  margin: 0 0 1.25rem;
}

#app #sidebar .social {
  margin: 1.25rem 0;
}

#app #sidebar .social span {
  margin-right: 1.25rem;
}

#app #sidebar .social span svg {
  height: 1.875rem;
  fill: #efeff0;
}

#app #sidebar button {
  min-width: 7.8125rem;
  background-color: #efeff0;
  border: 3px solid rgba(0, 0, 0, 0);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-radius: 0.375rem;
  padding: 0.625rem;
  margin: 1.25rem 0 0;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

#app main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  font-size: 1.6rem;
  scrollbar-color: rgba(19, 19, 21, 0) rgba(19, 19, 21, 0);
  scrollbar-width: thin;
  /* width */
  /* Track */
  /* Handle */
}

#app main:hover {
  scrollbar-color: #efeff0 rgba(19, 19, 21, 0);
}

#app main:hover::-webkit-scrollbar-thumb {
  background-color: #efeff0;
}

#app main::-webkit-scrollbar {
  width: 0.625rem;
}

#app main::-webkit-scrollbar-track {
  background: none;
  border-radius: 1rem;
}

#app main::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: none;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

#app main .section {
  padding: 8rem 16rem 8rem 8rem;
  min-height: 100vh;
}

#app main .section-wrapper {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  top: 10%;
  opacity: 0;
}

#app main .fade-in {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#app main #intro {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  background-color: #afcfaf;
  color: #131315;
}

#app main #intro a {
  color: #131315;
  text-decoration: underline;
  -webkit-text-decoration-color: #efeff0;
          text-decoration-color: #efeff0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#app main #intro a:hover {
  border-radius: 0.1875rem;
  background-color: #efeff0;
  -webkit-text-decoration-color: #131315;
          text-decoration-color: #131315;
  text-decoration-thickness: 2px;
}

#app main #skills {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  height: auto;
  background-color: #363649;
}

#app main #skills a {
  text-decoration: underline;
}

#app main #skills a:hover {
  text-decoration: none;
  background-color: white;
}

#app main #skills .skill-barre {
  margin-bottom: 1.25rem;
}

#app main #skills .skill-barre .barre {
  position: relative;
  width: 100%;
  height: 0.75rem;
  background-color: #131315;
  border-radius: 0.75rem;
}

#app main #skills .skill-barre .barre #talent1,
#app main #skills .skill-barre .barre #talent2,
#app main #skills .skill-barre .barre #talent3,
#app main #skills .skill-barre .barre #talent4 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.375rem;
  width: 0;
}

#app main #skills .skill-barre .barre #talent1 {
  width: 82.5%;
}

#app main #skills .skill-barre .barre #talent2 {
  width: 80%;
}

#app main #skills .skill-barre .barre #talent3 {
  width: 75%;
}

#app main #skills .skill-barre .barre #talent4 {
  width: 80%;
}

#app main #skills .skill-barre .barre .barre-mesure {
  position: absolute;
  height: 100%;
  -webkit-animation: fill 0.75s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
          animation: fill 0.75s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
  width: 100%;
  background-color: #efeff0;
  border-radius: 0.375rem;
}

#app main #skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

#app main #skills ul li {
  list-style: none;
  padding: 0.625rem;
  border: 1px solid #131315;
  border-radius: 0.375rem;
}

#app main #skills ul li a:hover {
  background-color: white;
  color: #131315;
}

#app main #skills ul li.skill-soft {
  border: 1px solid #b9c0c6;
}

#app main #skills ul li.skill-base {
  border: 1px solid #dfdf9f;
}

#app main #skills ul li.skill-tech {
  border: 1px solid #a6c4d9;
}

#app main #skills ul li.skill-framework {
  border: 1px solid #e69a99;
}

#app main #skills ul li.skill-template {
  border: 1px solid #afcfaf;
}

#app main #skills ul li.skill-tool {
  border: 1px solid #be9fdf;
}

#app main #cv {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  background-color: #dfdf9f;
  color: #131315;
}

#app main #cv .cv-conteneur {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  position: relative;
  z-index: 99;
}

#app main #cv .cv-conteneur .job-timeline {
  position: absolute;
  background-color: #131315;
  width: 0.375rem;
  height: 100%;
  margin: 0.5rem 1rem 3rem;
  z-index: -1;
}

#app main #cv .cv-conteneur .job-conteneur {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  width: 100%;
  margin: 0 1.25rem 3rem 0;
}

#app main #cv .cv-conteneur .job-conteneur .job-marker {
  width: 4rem;
}

#app main #cv .cv-conteneur .job-conteneur .job-marker .job-circle {
  margin-top: 0.3125rem;
  height: 2.375rem;
  fill: #131315;
}

#app main #cv .cv-conteneur .job-conteneur .job-emploi {
  padding-left: 2em;
}

#app main #cv .cv-conteneur .job-conteneur .job-emploi .job-temps {
  padding: 0.625rem;
  background-color: rgba(19, 19, 21, 0.3);
  color: #efeff0;
  border-radius: 0.375rem;
  margin: 0 0 1.25rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#app main #cv .cv-conteneur .job-conteneur .job-emploi h3 {
  margin: 0;
}

#app main #cv .cv-conteneur .job-conteneur .job-emploi .job-employeur {
  margin-top: 0;
  color: rgba(19, 19, 21, 0.75);
}

#app main #contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  min-height: 100vh;
  background-color: #493649;
}

#app main #contact form {
  max-width: 62.5rem;
}

#app main #contact form #form-status {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app main #contact form .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#app main #contact form .form-container .form-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#app main #contact form .form-container .form-div:first-of-type {
  margin-right: 0.625rem;
}

#app main #contact form input,
#app main #contact form textarea {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0;
  padding: 0.625rem;
  border-radius: 0.375rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  color: #131315;
  width: 100%;
  margin-bottom: 1.25rem;
  margin-top: 0.625rem;
}

#app main #contact form button {
  border: 3px solid rgba(0, 0, 0, 0);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-radius: 0.375rem;
  padding: 0.625rem;
  text-transform: uppercase;
}

/* UTILS */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.btn {
  background-color: #efeff0;
}

.btn a {
  color: #131315;
}

.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.btn:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.succes,
.erreur {
  padding: 0.625rem;
  width: 100%;
  font-weight: 500;
  border-radius: 0.375rem;
  background-color: rgba(19, 19, 21, 0.3);
  color: #efeff0;
  margin-bottom: 3rem;
}

#dot-status {
  height: 1.6rem;
  margin-right: 1rem;
}

.svg-succes {
  fill: #206020;
}

.svg-erreur {
  fill: #602020;
}

.cache {
  display: none;
}

/* MEDIA */
@media screen and (max-width: 48rem) {
  html,
  body {
    font-size: 0.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  #app {
    display: unset;
  }
  #app #sidebar {
    min-height: 100vh;
    padding: 3rem;
    min-width: unset;
  }
  #app #sidebar img {
    height: 9.375rem;
    width: 9.375rem;
  }
  #app main {
    overflow-y: unset;
  }
  #app main #intro,
  #app main #skills,
  #app main #cv,
  #app main #contact {
    min-height: 100vh;
    padding: 3rem;
  }
  #app main #contact form {
    max-width: 43.75rem;
    margin-right: 0;
  }
}

@media print {
  @page {
    size: "legal";
  }
  #app {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
  }
  #sidebar {
    padding: 1rem;
    color: black;
  }
  #sidebar img {
    display: none;
  }
  main h2 {
    margin: 1rem;
  }
  main #contact {
    display: none;
  }
  main .section {
    min-height: unset;
    font-size: 10pt;
  }
  main .section-wrapper {
    position: relative;
    width: 100%;
    top: unset;
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */